<%= simple_form_for(@audio, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :song, html: { class: 'form-control'}, label: "Upload a Song" %> 

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-xs btn-success" %>
  </div>
<% end %>